[user]
    name = first last name
    email = me@email.com
	# signingkey = /Users/<login>/.ssh/id_ed25519_github.pub
[credential]
    helper = osxkeychain
[core]
    excludesfile = ~/my/.gitignore
    attributesfile = ~/my/.gitattributes
    autocrlf = input
# delta config
	pager = delta
    ignorecase = false
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    side-by-side = true
[merge]
    conflictstyle = diff3
    # https://docs.cocogitto.io/guide/#custom-commit-types
    ff = only
[diff]
    colorMoved = default
# so much color
[color]
    ui = always
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[filesystem "JetBrains s.r.o|11.0.5|/dev/disk1s1"]
    timestampResolution = 8000 nanoseconds
    minRacyThreshold = 0 nanoseconds
[filesystem "Eclipse OpenJ9|11.0.6|/dev/disk1s1"]
    timestampResolution = 13000 nanoseconds
    minRacyThreshold = 0 nanoseconds
[init]
    defaultBranch = main
[pull]
    rebase = false
[fetch]
    prune = true
[push]
    default = current
    autoSetupRemote = true
	followTags = true
[gpg]
	format = ssh
[commit]
	gpgsign = false
[gpg "ssh"]
	# allowedSignersFile = /Users/<login>/.ssh/allowed_signers
[diff "lockb"]
	textconv = bun
	binary = true
